.Bcentrado {
    text-align: center;
}

.Bresultado {
    width: 100%;
    max-width: 182px;
    height: 182px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E332B;
    border-radius: 20px;

}


.Bresultado img {
    width: 100%;
    object-fit: contain;
    

}

.Bdistancia {
    margin-top: 25px;
}
