.Bcentrado {
    text-align: center;
}

.Bresultado {
    width: 100%;
    object-fit: contain;

}

.Bresultado img {
    width: 100%;
    max-width: 182px;
    height: 182px;
    border-radius: 20px;
    object-fit: contain;
    

}

.Bdistancia {
    margin-top: 25px;
}