
.App {
    text-align: center;
    background-color: #faeeae;
    /* height: 1000px; */
    
}
  
  .App-contenido {
    background: #faeeae;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 40px;
  }


  .Favoritos{
    display: flex;
    flex-direction: column;
    margin: 30px;
    height: 85vh;

}
.muro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:30px;
}

.HeaderFavoritos
{
    background-color: #E18737;
    border-radius: 30px 30px 0px 0px;
    height: 10vh;
    width: 20vw;
    padding-top: 1vh;
    font-size:small 
}
.RecetasFavoritas{
    display: flex;
    flex-direction: column;
    background-color: #1E332B;
    height: 100vh;
    border-radius: 0px 0px 30px 30px;
}
.RecetasFavoritas ul{
list-style: none;
}

  .Barra {
    background: #9B0000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    color: white;
    
    height: 10vh;
  }

  .BarraInicio{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      float: left;
      left: 0;
  }
  
  .iconos {
    height: 30px;
    margin: 0px 20px;
  
}

  .barraIconos{
    display:flex;
    flex-direction: row;
    align-items: center;
     
  }
  
  .ElForaneo {
    height: 30px;
    margin: 0px 20px;
    /* align-items: flex-start; */
  }


  .BarraBusqueda{
      display: flex;
      align-items: center;
      /* background-color: #E18737; */
  }



  .CuadroReg {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 35vw;
    border-radius: 30px;
    background: #1E332B;
    margin: 0px 5vw;
  }
  .CuadroFiltros{
    display: flex;
    flex-direction: column;
    width: 60vw;
  }

  .Superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 9vh;
    border-radius: 30px 30px 0px 0px;
    background: #E18737;
  }
  .ButonGenerar{
      background-color: #1E332B;
      border-radius: 30px 30px 30px 30px;
      height: 7vh;
      width: 12vw;
      margin: 1vh;
      border-style: none;
      color: white;
  }
  .InteriorCuadro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 270px;
  }
  
  .InteriorCuadro2 {
    display: flex;    
    justify-content: space-around;
    height: 9vh;
    background-color:#1E332B;
    border-radius: 0 0 30px 30px;
  }
  .CustomToggle a {
      background-color: #E18737;
      color: #faeeae;
      border-color: black;
      
  }

  .CuadroRecetas{
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.HeadReceta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 30px; */
    padding: 10px;
    background-color: #E18737;
    width: 100%;
    height: 8vh;
    border-radius: 30px 30px 0px 0px;
}
.barraIconosReceta{
    display: flex;
    justify-content: end;
    
}
.Info{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.tiempo{
    display: flex;
    flex-direction: column;
    font-size: small;
    justify-content: flex-start;
    align-items: flex-start;
}

.CuerpoReceta{
    background-color: #1E332B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45vh;;
}

.FotoReceta{
    display: flex;
    width: 50vw;
    background-color: #1E332B;
}
.TamanoFoto{
    display: flex;
    height: auto; 
    width: auto; 
    max-width: 100%; 
    max-height: 100%;
    align-items: center;
    justify-content: center;    
}

.PasosReceta{    
    width: 50vw;
}

.Instrucciones{
    
    font-size: small;
    /* width: 250px;
    height: 300px; */
    height: 45vh; 
    position: static;
    font-size: small;
    overflow: auto;

}


.BarraCalificaciones{
    display: flex;
    background-color: #E18737;
    height: 8vh;
    border-radius: 0px 0px 30px 30px;
}
.Calificaciones{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}


 

.Subtitulo {
  margin-left: 35px;
  font-style: normal;
  font-size: 23px;
  color: white;
}